exports.config = {

	server: {
		port: 8080,
	},

	site: {
		title: 'AliseLab',
		default_language: 'en',
		phone: '12345678',
	},
	
	sections: [
		'about', 'services', 'portfolio', /*'reviews',*/ 'questions', 'contacts',
	],

	mail: {
		transport: {
			service: 'gmail',
			auth: {
				user: 'youremail@gmail.com',
				pass: 'yourpassword',
			},
		},
		destination: 'myemail@gmail.com',
	},
}
};
