<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site.title }}</title>

	{% for file in css %}
    	<link rel="stylesheet" href="css/{{ file }}">
    {% endfor %}
    
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="vendor/slick/slick.min.js"></script>

	<noscript>
		<style>
			.faded {
				opacity: 1 !important;
			}
		</style>
	</noscript>

</head>
<body ondragstart="return false;" ondrop="return false;">

<div class="content">
	{% block content %}
	{% endblock %}
</div>

</body>

{% for file in js %}
	<script src="js/{{ file }}"></script>
{% endfor %}

</html>
