<div class="left">
	<h2>Alise Lab разработка</h2>
</div>
<div class="right">
	<p>
	Мы - небольшая команда специалистов-фрилансеров в областивеб-разработки. Мы консультируем по вопросам развработкивеб-сайтов,
	советуем наиболее подходящие решения. Разрабатываемlanding page, адаптивные многостраничные сайты и интернет-магазины,основаясь
	на автоматизации бизнес-процессов. Нам очень важно,чтобы каждый созданный нами сайт имел высокое качество,так как сайт
	не только представляет клиента, но так же являетсянашей рекламой.
	</p>
</div>
<div class="clear"></div>

<div class="left">
	<h3>Преимущества работы с нами</h3>
	<ul class="fa-xul">
		<li><span class="fa-li fas fa-check"></span>Мы предосталяем бесплатнуе консультации.</li>
		<li><span class="fa-li fas fa-check"></span>Отсутствие выплат налогов, как в случае со штатным сотрудником, а следовально цены на услуги выгоднее.</li>
		<li><span class="fa-li fas fa-check"></span>Нам не важна география, Вам не обязательно находится в Латвии,чтобы мы могли помочь Вам.</li>
		<li><span class="fa-li fas fa-check"></span>Договорные отношения с четко прописанными обязанностями и ответственностью Сторон.</li>
		<li><span class="fa-li fas fa-check"></span>Высокая скорость исполнения задачь</li>
		<li><span class="fa-li fas fa-check"></span>Онлайн-поддержка 24/7</li>
		<li><span class="fa-li fas fa-check"></span>В разработке каждого нового проекта и в поддержке существующихмы всегда думаем о том, какую пользу получит ваш клиентот взаимодействия с сайтом, от оптимизации процессов,от персонифицированных коммуникаций!</li>
	</ul>
</div>
<div class="right">
</div>
<div class="clear"></div>

<div class="left">
</div>
<div class="right">
	<h3>Кому подойдет наше предложение?</h3>
	<ul class="list-spread">
		<li>klsdklsdfkl klsdflksdfklsdf sdljsdfjklsdfjkl fdskl</li>
		<li>klsdklsdfkl klsdflksdfklsdf sdljsdfjklsdfjkl fdskl</li>
		<li>klsdklsdfkl klsdflksdfklsdf sdljsdfjklsdfjkl fdskl</li>
		<li>klsdklsdfkl klsdflksdfklsdf sdljsdfjklsdfjkl fdskl</li>
		<li>klsdklsdfkl klsdflksdfklsdf sdljsdfjklsdfjkl fdskl</li>
	</ul>
</div>
<div class="clear"></div>