<form action="/contact" method="POST">
	<input class="input" type="text" name="name" placeholder="Имя" required/>
	<input class="input" type="text" name="phone" placeholder="Телефон" required/>
	<input class="input" type="email" name="email" placeholder="Мэйл" required/>
	<div class="product">
		<label>
			<input type="radio" name="product" value="landing"/>
			Визитка
		</label>
		<label>
			<input type="radio" name="product" value="corporate"/>
			Корпоративный
		</label>
		<label>
			<input type="radio" name="product" value="ecommerce">
			Интернет магазин
		</label>
	</div>
	<textarea class="input" name="comments" id="comments" placeholder="Дополнительная информация"></textarea><br/>
	<input class="sendBtn" type="submit" value="Отправить"/>

</form>
