<form autocomplete="off" action="/contact" method="POST">
	<input type="hidden" name="lang" value="{{ language }}"/>
	<input class="input" type="text" name="name" placeholder="Имя" required/>
	<input class="input" type="text" name="phone" placeholder="Телефон" required/>
	<input class="input" type="email" name="email" placeholder="Мэйл" required/>
	<span class="product">
		<label>
			<input type="radio" name="product" value="landing" required/>
			Визитка
		</label>
		<label>
			<input type="radio" name="product" value="corporate" required/>
			Корпоративный
		</label>
		<label>
			<input type="radio" name="product" value="ecommerce" required/>
			Интернет магазин
		</label>
	</span>
	<textarea class="input" name="comments" id="comments" placeholder="Дополнительная информация" required></textarea><br/>
	<input class="sendBtn" type="submit" value="Отправить"/>

</form>


