    <h2>Наши работы</h2>

    <div>
        <a href="build/img/portfolio/gatesOfTime.png"></a>
        <a href="build/img/portfolio/timesgates2.png"> </a>
        <a href="build/img/portfolio/alexana2.png"></a>
        <a href="build/img/portfolio/bahazieds2.png"></a>
        <a href="build/img/portfolio/bahazieds.png"></a>
        <a href="build/img/portfolio/1evotraiding_port.jpg"></a>
        <a href="build/img/portfolio/business_form.png"></a>
        <a href="build/img/portfolio/business_main.png"></a>
    </div>
