    <h2>ОТЗЫВЫ</h2>
    <img src="build/img/resp/rew2.png">
    <img src="build/img/resp/rew3.png">
    <img src="build/img/resp/rew1.png">
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAliseLabCom%2F&amp;width=450&amp;layout=standard&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId"
            width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowtransparency="true"></iframe>
