<div>
	<div class="fab fa-vk icon"></div>
	<h2>Сайт визитка</h2>
	<ul>
		<li>Lorem ipsum dolor sit amet,</li>
		<li>consectetur adipiscing elit.</li>
		<li>Vivamus at augue imperdiet</li>
	</ul>
	<a class="btn" href="#contacts">Order Now</a>
</div>
<div>
	<div class="fab fa-vk icon"></div>
	<h2>Корпоративный сайт</h2>
	<ul>
		<li>Lorem ipsum dolor sit amet,</li>
		<li>consectetur adipiscing elit.</li>
		<li>Vivamus at augue imperdiet</li>
	</ul>
	<a class="btn" href="#contacts">Order Now</a>
</div>
<div>
	<div class="fab fa-vk icon"></div>
	<h2>Интернет магазин</h2>
	<ul>
		<li>Lorem ipsum dolor sit amet,</li>
		<li>consectetur adipiscing elit.</li>
		<li>Vivamus at augue imperdiet</li>
	</ul>
	<a class="btn" href="#contacts">Order Now</a>
</div>
