         <h2>Services and prices</h2>
         <div class="cardField">
            <span class="card">
               <div class="fab fa-vk icon"></div>
               <h3>Сайт визитка</h3>
               <ul class="ul-noIndent">
                  <li>Lorem ipsum dolor sit amet,</li>
                  <li>consectetur adipiscing elit.</li>
                  <li>Vivamus at augue imperdiet</li>
               </ul>
               <button id="orderCard">Order Now</button>
            </span>
            <span class="card">
               <div class="fab fa-vk icon"></div>
               <h3>Корпоративный сайт</h3>
               <ul>
                  <li>Lorem ipsum dolor sit amet,</li>
                  <li>consectetur adipiscing elit. Vivamus at augue at</li>
                  <li>augue imperdiet, aliquet</li>
                  <li>dui nec</li>
                  <li>augue imperdiet, aliquet</li>
                  <li>dui nec</li>
                  <li>augue imperdiet, aliquet</li>
                  <li>dui nec</li>
               </ul>
               <button id="orderCorp">Order Now</button>
            </span>
            <span class="card">
               <div class="fab fa-vk icon"></div>
               <h3>Интернет магазин</h3>
               <ul>
                  <li>Lorem ipsum dolor sit amet,</li>
                  <li>consectetur adipiscing elit. Vivamus at augue</li>
                  <li>imperdiet at augue imperdiet, aliquet dui nec</li>
                  <li>augue imperdiet, aliquet</li>
                  <li>dui nec</li>
               </ul>
               <button id="orderShop">Order Now</button>
            </span>
         </div>
