section.reviews article {
	text-align: center;
}

section.reviews article iframe {
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
	border: none;
	overflow: hidden;
}

section.reviews div.small {
	display: none;
}

@media screen and ( max-width: 400px ) {
	section.reviews article iframe {
		margin: 0;
		padding: 0;
		margin-bottom: 2em;
	}
}