section.services article {
	text-align: center;
}

section.services article > div {
	width: 23%;
	min-width: 260px;
	display: inline-block;
	padding: 1%;
	text-align: center;
	background: #f5f5ff;
	margin: 1em;
}

@media screen and ( max-width: 290px ) {
	section.services article > div {
		min-width: 210px;
	}
}

@media screen and ( max-width: 238px ) {
	section.services article > div {
		min-width: 170px;
	}
}

section.services article > div .time {
	font-style: italic;
}

section.services article > div .price {
	font-weight: bold;
}

section.services article > div h2 {
	color: #2b4b6f;
	font-weight: bold;
	margin-bottom: 0;
}

section.services div.icon {
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.618rem;
    width: 6.854rem;
    height: 6.854rem;
    line-height: 6.854rem;
    font-size: 4rem;
    /*transition: background-color 0.3s;*/
    background-color: #01c7e1;
    color: white;
    border-radius: 50%;
}

section.services li {
	text-align: left;
	font-size: 1em;
}

